{% extends './layout.html' %}
{% block body %}

<div>
    <center>
        <h1>¿Deseas Añadir una pelicula a nuestro catalogo? <b>¡AQUI PUEDES HACERLO!</b></h1>
        <h2>Recuerda que no es necesario dejar un comentario pero las peliculas sin comentarios pueden ser eliminadas por otros usuarios</h2>
    </center>
</div>

<div>
    <center>
        <form action="{{ url_for('agregar') }}" method="post">
            <label for="pelicula">Pelicula:</label>
            <input type="text" name="nombre" required>
            <br><br>
            <label for="anio">Año:</label>
            <input type="text" name="anio" required>
            <br><br>
            <label for="director">Director:</label>
            <input type="text" name="director" required>
            <br><br>
            <label for="genero">Género:</label>
            <input type="text" name="genero" required>
            <br><br>
            <label for="sinopsis">Sinopsis:</label>
            <textarea name="sinopsis" required></textarea>
            <br><br>
            <label for="imagen">Imagen:</label>
            <input type="text" name="imagen" required>
            <br><br>
            <label for="comentario">Comentario:</label>
            <textarea name="comentario"></textarea>
            <br><br>
            <input type="submit" name="submit" value="Enviar">
        </form>
    </center>

</div>

{% endblock %}