{% extends "./layout.html" %}

{% block body %}
<div>
    <center>
        <h1>Borra tu pelicula</h1>
        <h2>
            Aqui puedes borrar las peliculas que consideres que no son apropiadas para la comunidad, o que tengan informacion erronea
            Recuerda que solo puedes borrar una pelicula si esta no tiene comentarios de otros usuarios
        </h2>
    </center>
</div>

<br>
<br>
<br>
<br>
<div>
    <center>
        <form action="" method="post">
            <label for="peli">Nombre de la pelicula a borrar: </label>
            <input type="text" name="peli" value="" required>
            <br>
            <br>
            <label for="borrar"></label>
            <input type="submit" name="borrar" value="BORRAR">
            </form>
    </center>
</div>

<div>
    <center>
        <a href="{{ url_for('listaPelis') }}">Ver lista de películas</a>
    </center>

    <center>
        <a href="{{ url_for('main') }}">volver a la pagina principal</a>
    </center>
</div>


{% endblock %}