{% extends './layout.html' %}

{% block title %} INDEX {% endblock %}

{% block body %}
    <p><center>****************</center></p>
    <h1><center>Bienvenido a Peliculas en Comunidad</center></h1>
    <h2><center>Si quieres formar parte de nuestra comunidad</center></h2>
    <p><center>****************</center>></p>
    <br>
    <br>
    <br>
    <h3><center><a href="{{ url_for('login') }}"> INGRESA </a></center></h3>
    <h3><center> O </center></h3>
    <h3><a href="{{ url_for('registro') }}"><center> REGISTRATE </center></a></h3>
{% endblock %}