{% extends './layout.html' %}

{% block title %} INDEX {% endblock %}

{% block body %}
    <p><center>****************</center></p>
    <h1><center>Bienvenido a Peliculas en Comunidad</center></h1>
    <h2><center>Si quieres formar parte de nuestra comunidad</center></h2>
    <p><center>****************</center>></p>
    <br>
    <br>
    <br>
    <h3><center><a href="http://127.0.0.1:5000/login"></a> INGRESA </center></h3>
    <h3><center> O </center></h3>
    <h3><center> REGISTRATE </center></h3>
{% endblock %}