{% extends './layout.html' %}
{% block body %}

<center><h1> Iniciar sesion </h1></center>

<form action="">
    <center>
    <div>
        <label for="Usuario"> <h1><b> Nombre de usuario: </b></h1> </label>
        <input type="text" required>       
    </div>

    <div>
        <label for="Password"> <h1><b> Contraseña: </b></h1> </label>
        <input type="password" required> 
    </div>
    </center>
    <br>
    <br>
    <br>
    <br>
    <br>
    <center><a href="Link_para_entrar_sin_ser_usuario"> Mira las ultimas 10 pelis del catalogo </a></center>
</form>

{% endblock %}